@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
 body {
     margin: 0;
     font-family: "Barlow";
     background-color: #141416;
     overflow-x: hidden;
}
 .page-wrapper {
     opacity: 0;
     transition: opacity 0.8s ease-in-out;
}
 .startup {
     background: url(../img/contact-us.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center top;
     padding: 7rem 0;
     filter: saturate(130%);
     filter: grayscale(15%);
}
 .startup h2 {
     color: white;
     margin-top: 6rem;
     margin-left: 4rem;
     margin-bottom: 0rem;
     font-family: "Poppins";
     font-size: 4rem;
     font-weight: bold;
     margin-top: 3rem;
}
 .startup p {
     font-size: 2rem;
     margin-top: 0rem;
}
 table {
     transform: translateY(-10%);
     margin-left: 4rem;
     background-color: #141416;
     width: 93%;
}
 table, td, tr {
     border-color: rgb(255, 255, 255);
     border: 1px solid;
}
 .software p {
     font-family: "Open Sans";
     color: #8a8a8a;
     font-size: 1rem;
     text-align: left;
     transform: translateX(30%);
}
 form {
     display: flex;
     justify-content: space-between;
     max-width: 580px;
     margin: 0 auto;
     padding: 1rem;
     flex-wrap: wrap;
     margin: 5rem auto;
}
 .column {
     flex: 1;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     padding: 0.8rem;
     max-width: calc(100% - 1rem);
}
 form label {
     font-family: "Open Sans";
     color: #8a8a8a;
     font-size: 0.8rem;
     margin-bottom: 0.5rem;
}
 form input[type="text"], form input[type="email"] {
     border: 1px #8a8a8a solid;
     border-radius: 6px;
     background-color: transparent;
     width: 100%;
     height: 3.5rem;
     margin-bottom: 0.5rem;
     padding: 0.5rem;
}
 input:hover {
     border: 1.5px #8a8a8a solid;
}
 .button-container {
     display: flex;
     justify-content: flex-end;
     margin-top: 0.8rem;
}
 .button {
     font-family: "Open Sans";
     margin-left: 0.8rem;
     font-size: 1rem;
     width: 520px;
     height: 3.5rem;
     border-radius: 0.5rem;
     border: none;
     background-color: #83B7EE;
     color: #141416;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
}
 .button:hover {
     background-color: inherit;
     color: white;
     border: 1px solid white;
}
 @media screen and (max-width: 1300px) {
     table, td, tr {
         margin-left: 1rem;
         border: none;
         height: auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
    }
     tr {
         border-color: rgb(255, 255, 255);
         border: 1px solid;
    }
     form {
         display: flex;
         flex-direction: column;
         justify-content: center;
         justify-content: space-between;
         margin: 0 auto;
         flex-wrap: wrap;
    }
     .startup h2 {
         margin-top: 6rem;
         margin-left: 1rem;
         font-size: 2rem;
    }
     .startup p {
         font-size: 1.2rem;
         margin-top: -4.5rem;
    }
     .startup br {
         display: none;
    }
     .software p {
         font-family: "Open Sans";
         color: #8a8a8a;
         font-size: 1rem;
         text-align: left;
         padding: 1.5rem;
         transform: translateX(0%);
    }
     .software br {
         display: none;
    }
     form label {
         font-family: "Open Sans";
         font-size: 0.8rem;
         text-align: left;
         margin-bottom: 0.5rem;
    }
     form input[type="text"], form input[type="email"] {
         width: 70%;
    }
     .button-container {
         width: 67%;
    }
}
