footer {
    font-family: "Helvetica Neue", sans-serif;
    color: #ffffff;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
    font-size: 0.8rem;
    padding: 6rem 2rem;
    margin-top: 15rem;
  }
  
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1px auto;
    grid-gap: 1rem;
  }
  
  .footer-section {
    min-height: auto;
    max-height: none;
  }



  .href-buttons button {
    background-color: #83B7EE;
    font-family: "Open sans";
    color: #324156;
    border: none;
    padding: 1rem 1.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 1.7rem;
  }

  .href-buttons button:hover {
    background-color: inherit;
    color: #ffffff;
    border-color: white;
    border-style: solid;
    border-width: 1px;
  }

  .href-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .href-buttons a {
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: "Open sans";
    color: #808080;
    font-size: 1.2rem;
    font-weight: 400;
  }