footer {
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 998;
  font-size: 0.8rem;
  padding: 7rem 2rem;
  background-color: #141416;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1px auto;
  grid-gap: 1rem;
}

.footer-section {
  min-height: auto;
  max-height: none;
  display: flex;
  flex-direction: column;
}

#buttons {
  margin-left: 11rem;
}
#social {
  margin-left: 13rem;
}

.href-buttons button {
  background-color: #83B7EE;
  font-family: "Open sans";
  color: #324156;
  border: none;
  padding: 1rem 1.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1.7rem;
}

.href-buttons button:hover {
  background-color: inherit;
  color: #ffffff;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.href-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.href-buttons a {
  margin-bottom: 1rem;
  text-decoration: none;
  font-family: "Open sans";
  color: #808080;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-section .company-name {
  font-family: "Barlow";
  font-size: 1.6rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  color: #ffffff;
  cursor: pointer;
}

.footer-section .company-description {
  font-family: "Open Sans";
  color: #808080;
  font-size: 1.1rem;
}
.footer-section p {
  font-size: 1.1rem;
  color: #808080;
}

.footer-section i {
  font-size: 1.5rem;
  color: #808080;
  margin-right: 0.5rem;
  font-weight: 700;
}
.footer-section span {
  font-size: 0.9rem;
  color: #808080;
  font-family: "Open Sans";
  font-weight: 500;
}
.footer-section .footer-logo {
  width: 3rem;
  height: auto;
}

.footer-info {
  margin-top: 9rem; 
}

.social-icons {
  display: flex;
  gap: 0.3rem;
}

@media screen and (max-width: 1000px) {
  footer {
    padding: 7rem 1rem;
  }
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-info {
    margin-top: 3rem;
    text-align: center;
  }

  .footer-section .company-name {
    font-size: 1.4rem;
    text-align: center;
  }
  .footer-section .company-description {
    font-size: 1rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .footer-section p {
    font-size: 1.3rem;
  }
  .footer-section i {
    font-size: 1.8rem;
  }
  .footer-section span {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .footer-section .footer-logo {
    width: 3rem;
  }
  
  .href-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .href-buttons a,
  .href-buttons button {
    margin: 0.5rem; 
  }

  .href-buttons button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
    display: flex;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #buttons {
    margin-left: 0;
  }

  #social {
    margin-top: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}