@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
 .header {
     background-color: rgb(20, 20, 22);
     color: white;
     opacity: 1;
     padding: 1.25rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     z-index: 9999;
     transition: opacity 0.5s ease-in-out;
}
 .hamburger {
     display: none;
     flex-direction: column;
     cursor: pointer;
     z-index: 10000;
}
 .hamburger.open .bar:nth-child(1) {
     transform: translateY(8px) rotate(-45deg);
}
 .hamburger.open .bar:nth-child(2) {
     opacity: 0;
}
 .hamburger.open .bar:nth-child(3) {
     transform: translateY(-6px) rotate(45deg);
}
 .bar {
     width: 2rem;
     height: 0.2rem;
     background-color: white;
     margin: 2px 2rem;
     transition: 0.4s;
}
 .panel {
     position: fixed;
     top: 0;
     right: -25rem;
     width: 25rem;
     height: 100%;
     background-color: rgb(20, 20, 22);
     color: white;
     transition: right 1s;
     z-index: 9998;
     overflow-y: auto;
     display: none;
}
 .panel.open {
     right: 0;
}
 .company-name {
     font-weight: bold;
}
 .logo {
     display: flex;
     align-items: center;
}
 .logo img {
     width: 3.7rem;
     height: 2.7rem;
     margin-right: 0.625rem;
     margin-left: 0.625rem;
     pointer-events: none;
}
 .company-name {
     font-size: 1.5rem;
     cursor: default;
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
}
 .subpages {
     display: flex;
     position: absolute;
     right: 0rem;
     width: 37.5rem;
     text-decoration: none;
}
 .subpage-item {
     font-family: "Open Sans";
     margin-right: 1.25rem;
     font-size: 0.9rem;
     text-decoration: none;
     color: #8a8a98;
     opacity: 1;
     transition: all 0.4s ease-in-out;
}
 .subpage-item:hover{
     color: #729fce;
     transform: inherit;
     opacity: 1;
     text-decoration: none;
}
 .subpage-item:active{
     color:#729fce;
}
 #dropdownMenuLink {
     margin-right: 0.625rem;
     background: transparent;
     border-radius: 0.3rem;
     border-color: white;
     color: white;
     padding: 0.7em 1.5em;
     position: relative;
     font-family: "Open Sans";
     font-size: 0.90rem;
     cursor: pointer;
     opacity: 0.6;
     transition: all 0.3s ease-in-out;
}
 #dropdownMenuLink:hover {
     text-decoration: none;
     background-color: #d4a35a;
     color: black;
     opacity: 1;
     border: transparent;
}
 .btn-secondary:focus {
     text-decoration: none;
     background-color: #d4a35a !important;
     color: black !important;
     opacity: 1 !important;
     border: transparent !important;
}
 .dropdown-item:hover {
     background-color: #1A1A1C;
     color: #729fce;
     font-weight: bold;
}
 .dropdown-menu {
     background-color: #1A1A1C;
}
 .dropdown-item {
     color: white;
}
 @media screen and (max-width: 1000px) {
     .header {
         padding: 1.25rem 0.625rem;
    }
     .hamburger {
         display: flex;
    }
     .subpages {
         display: none;
    }
     .header-button {
         display: none;
    }
     .panel {
         display: flex;
         top: 5.2rem;
    }
     .btn {
         display: none;
    }
     .mobile-subpages {
         display: flex;
         flex-direction: column;
         position: absolute;
         right: 0;
         width: 100%;
         height: 100%;
         background-color: rgb(20, 20, 22);
         color: white;
         transition: right 0.4s;
         z-index: 9998;
         overflow-y: auto;
    }
     .subpage-item {
         font-size: 1.5rem;
         font-weight: bold;
         text-transform: uppercase;
         align-items: center;
         text-align: center;
         margin-left: 1rem;
         margin-bottom: 0.8rem;
    }
     .subpage-item:hover{
         color: #729fce;
         transform: inherit;
         opacity: 1;
         text-decoration: none;
    }
     .subpage-item:active{
         color:#729fce;
    }
     .divider {
         content: "";
         display: block;
         width: 95%;
         height: 1px;
         background-color: #8a8a98;
         margin: auto;
         margin-bottom: 2rem;
         margin-top: 0.5rem;
    }
     #dropdownMenuLink {
         text-decoration: none;
         border: 1px solid white;
         padding: 0.7em 4em;
         font-size: 1rem;
         margin-left: 6rem;
         margin-top: 2rem;
         margin-bottom: 2rem;
    }
     .dropdown-item:hover {
         text-decoration: none;
    }
     .dropdown {
         margin-top: 1rem;
         padding: 2rem 0;
    }
     .dropdown-menu {
         padding-left: 3.2rem;
         padding-right: 3.5rem;
         margin-left: 2rem;
         border-radius: 0.3rem;
    }
}
 