@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
 body {
     margin: 0;
     font-family: "Barlow";
     background: linear-gradient( to bottom, #1a1a1c 0%, #1a1a1c 40%, #141416 40%, #141416 100% );
     overflow-x: hidden;
}
 .page-wrapper {
     opacity: 0;
     transition: opacity 0.8s ease-in-out;
}
.welcome {
    width: 70%;
    max-width: 70rem;
    height: 23rem;
    position: relative;
    display: flex;
    margin-top: 9rem;
    margin-left: 5%;
}

.welcome img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.welcome div {
    width: 95%;
    height: 105%;
    position: absolute;
    background-color: #fafafa;
    background-size: cover;
}

.about {
    top: 5rem;
    left: 55%; 
}

.about h2 {
    font-weight: bold;
    color: #3f4349;
    font-family: "Poppins";
    font-size: 3rem;
    font-weight: bolder;
    text-align: left;
    margin-top: 4.5rem;
    margin-left: 25%; 
}

.about p {
    color: #81858b;
    font-family: "Open Sans";
    font-size: 1rem;
    text-align: left;
    margin-left: 25%;
    margin-right: 20%; 
    text-align: justify;
    line-height: 2.1rem;
}

 .short-desc {
     margin-top: 23rem;
     font-size: 3.5rem;
     color: white;
     text-align: center;
     font-weight: bold;
     padding: 5%;
     justify-content: center;
     align-items: center;
     line-height: 1;
     font-family: "Poppins";
}
 .background-img {
     background: url("../img/background.jpeg") fixed 100%;
     background-repeat: no-repeat;
     background-position: center center;
     width: 100%;
     height: auto;
     position: absolute;
     background-attachment: unset;
     transition: transform 0.3s ease-in-out;
     z-index: -1;
}
 .background-img-inner {
     padding-top: 10%;
     padding-bottom: 10%;
}
 .team{
     background-color:#141416;
     margin: auto;
     z-index: 3;
}
 .team .content h2 {
     color: white;
     margin-top: 34rem; 
     font-family: "Poppins";
     font-size: 4rem;
     margin-bottom: 2.5rem;
}
 .team .content p {
     color: #8a8a98;
     font-family: "Poppins";
     font-size: 1rem;
     line-height: 2;
     font-weight: bolder;
}
 .team .content {
     margin-left: 25%
}
 .cards {
     display: flex;
     margin: 0 auto;
     justify-content: center;
     background-color: #1a1a1c;
     padding: 3rem;
     margin: 0 3rem;
}
 .column{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
}
 .column .imageBox {
     box-sizing: border-box;
     margin-left: 3rem;
}
 .text-block-1, .text-block-2, .text-block-3, .text-block-4 {
     margin-top: 16rem;
     background-color: #141416;
     color: white;
     width: 14%;
     height: 9%;
     position: absolute;
    }

 .text-block-1 {
     position: absolute;
     margin-left: 6rem;
}
 .text-block-2 {
     position: absolute;
     margin-left: 27rem;
}
 .text-block-3 {
     position: absolute;
     margin-left: 48rem;
}
 .text-block-4 {
     position: absolute;
     margin-left: 69rem;
}
 h4 {
     font-size: 18px;
     font-weight: bold;
     margin-top: 0.8rem;
     margin-left: 1rem;
     font-family: "Barlow";
}
 .text-block-1 p, .text-block-2 p, .text-block-3 p, .text-block-4 p {
     margin-left: 1rem;
     font-family: "Open Sans";
     color: #858585;
     font-size: 16px;
     font-weight: 500;
}
 .directions {
     background-color: #141416;
}
 .our-directions {
     padding-top: 10rem;
     text-align: center;
     color: white;
     font-size: 3rem;
     font-weight: bold;
     font-family: "Poppins";
     line-height: 1;
}

.text-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(8%);
    width: 100%;
    max-width: 1100px;
  }

 .text-cards img {
    width: 11rem;
    height: 12.5rem;
     object-fit: cover;
}
 .text-block-5, .text-block-6, .text-block-7 {
     width: 11rem;
     height: 12.5rem;
}
 .text-block-5 {
     background-color: #83b7ee;
}
 .text-block-6 {
     background-color: #d4a35a;
}
 .text-block-7 {
     background-color: #63afbb;
}
 .text-block-5 p, .text-block-6 p, .text-block-7 p {
     text-align: center;
     font-family: "Helvetica";
     color: white;
     line-height: 1.6;
     margin-top: 4.3rem;
     font-size: 1.2rem;
     font-weight: bold;
}
 .read-more {
     color: #898989;
     font-size: 1rem;
     font-family: "Open Sans";
     margin-left: 25.5%;
     margin-top: 1rem;
}

 .text-block-5, .text-cards img, .text-block-6, .text-block-7 {
     transition: transform 0.3s ease;
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
}
 .text-block-5:hover, .text-cards img:hover, .text-block-6:hover, .text-block-7:hover {
     transform: scale(1.1);
}

@media screen and (max-width: 1500px) {

    body {
        background: linear-gradient( to bottom, #1a1a1c 0%, #1a1a1c 30%, #141416 30%, #141416 100% );
   }

    .cards {
        justify-content: center;
        background-color: #1a1a1c;
        padding: 10rem 0;
   }

    .column{
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem;
        margin-top: -4rem;
   }
    .column .imageBox {
        margin-left: 0.5rem;
        width: 16rem;
   }
    .text-block-1, .text-block-2, .text-block-3, .text-block-4 {
        width: 17rem;
   }
    .text-block-1 {
        margin-top: 18rem;
        margin-left: 0;
   }
    .text-block-2 {
        margin-top: 44rem;
        margin-left: 0;
   }
    .text-block-3 {
        position: absolute;
        margin-top: 18rem;
        margin-left: 24.5rem;
   }
    .text-block-4 {
        position: absolute;
        margin-top: 44rem;
        margin-left: 24.5rem;
   }
}

@media screen and (max-width: 1100px) {
    .text-cards {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0rem;
        margin-right: 0rem;
        transform: none;
   }
    .text-cards img {
        width: 100%;
        height: 18rem;
        margin-bottom: 1rem;
   }
    .text-block-5, .text-block-6, .text-block-7 {
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
   }
    .text-block-5 p, .text-block-6 p, .text-block-7 p {
        margin-top: 0.7rem;
   }
    .read-more {
        margin-left: 2vw;
   }
}

 @media screen and (max-width: 1000px) {
     body {
         background: linear-gradient( to bottom, #1a1a1c 0%, #1a1a1c 25%, #141416 25%, #141416 100% );
    }
     .welcome { 
         width: 100%;
         height: 100%;
         margin-top: 5.2rem;
         margin-left: 0;
         margin-right: 0;
         margin-bottom: 0;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }


    .welcome img {
        width: 100%;
        height: 100%;
        margin-top: 0rem;
        height: 22rem;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
    
     .welcome div {
         width: 90%;
    }

     .about {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 8rem;
         left: 1.5rem;
         background-color: #fafafa;
         background-size: cover;
    }
     .about h2 {
         font-size: 3rem;
         margin: 2.5rem auto;
         text-align: center;
    }
     .about p {
         margin: 0 2rem;
    }
     .short-desc {
         margin-top: 16rem;
         font-size: 1.8rem;
    }
     .background-img {
         height: 12rem;
    }
     .cards {
         justify-content: center;
         background-color: #1a1a1c;
         padding: 10rem 0;
    }
     .team .content h2 {
         margin-top: 22rem;
         font-size: 1.8rem;
    }
     .team .content {
         text-align: justify;
         margin-left: 3rem;
         margin-right: 3rem;
    }
     .our-directions {
         font-size: 1.8rem;
    }
}

 @media screen and (max-width: 850px) {
     .column{
         grid-template-columns: repeat(1, 1fr);
    }
     body {
         background: linear-gradient( to bottom, #1a1a1c 0%, #1a1a1c 18%, #141416 18%, #141416 100% );
    }
     .text-block-3 {
         margin-top: 70rem;
         margin-left: 0;
    }
     .text-block-4 {
         margin-top: 96rem;
         margin-left: 0;
    }
}
 