@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
 body {
     margin: 0;
     font-family: "Barlow";
     background-color: #141416;
     overflow-x: hidden;
}
 .page-wrapper {
     opacity: 0;
     transition: opacity 0.8s ease-in-out;
}
 .header-wrapper {
     display: flex;
     align-items: center;
     margin: 5rem;
}
 .header-image {
     flex: 0 0 auto;
     margin-right: 1rem;
}
 .header-image img {
     max-width: 100%;
}
 .header-content {
     flex: 1 1 auto;
}
 .header-title, .header-period {
     color: #8A8A8A;
     z-index: 3;
}
 .header-title {
     font-size: 3.7rem;
     font-family: "Open Sans";
     font-weight: bold;
}
 .header-period {
     font-size: 1.65rem;
     font-family: "Poppins";
}
