@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
 body {
     margin: 0;
     font-family: "Barlow";
     background-color: #141416;
}
 .page-wrapper {
     opacity: 0;
     transition: opacity 0.8s ease-in-out;
}
 .business {
     background-image: url(../img/solutions-background.png);
     background-size: cover;
     padding: 3rem 1.25px;
}
 .business h2 {
     color: white;
     margin-top: 8rem;
     margin-left: 4rem;
     font-family: "Poppins";
     font-size: 4rem;
     font-weight: bold;
}
 .business p {
     font-size: 2rem;
}
 table, td, tr {
     margin-top: 0.3rem;
     margin-left: 6rem;
     border-color: rgb(255, 255, 255);
     border: 1px solid;
     height: 10rem;
}
 .software img, .data-management img, .custom-app img, .support img {
     border-radius: 15px;
     padding: 1.5rem;
     width: 30%;
     margin-left: 35%;
     opacity: 0;
     pointer-events: none;
     user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
}
 .data-management img, .support img {
     background-color: #83b7ee;
}
 .custom-app img, .software img {
     background-color: #d4a35a;
}
 .software-description h2, .data-management h2, .custom-app h2, .support h2{
     font-family: "Poppins";
     color: white;
     font-weight: bold;
     margin-left: 4rem;
     margin-top: 3rem;
     font-size: 1.3rem;
     opacity: 0;
}
 .software-description p, .data-management p, .custom-app p, .support p {
     font-family: "Open Sans";
     margin-left: 4rem;
     margin-bottom: 4rem;
     color: #8A8A8A;
     opacity: 0;
}
 .software-description td {
     width: 100%;
}
 .smaller {
     width: 20%;
}
 .software-description, .management, .application-development, .customer-support {
     position: relative;
     overflow: hidden;
}
 .slide-in-left {
     transform: translateX(-100%);
     animation: slide-in 1.5s forwards;
}
 @keyframes slide-in {
     to {
         transform: translateX(0);
    }
}
 .slide-in-bottom {
     transform: translateY(40%);
     animation: slide-in 1.5s forwards;
}
 @keyframes slide-in {
     to {
         transform: translateY(0);
    }
}
