 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
 body {
     margin: 0;
     font-family: "Barlow";
     background-color: #141416;
}
 .page-wrapper {
     opacity: 0;
     transition: opacity 0.8s ease-in-out;
}
 .header-section {
     position: relative;
     display: flex;
}
 .header-panel {
     width: 100%;
     overflow: hidden;
}
 .header-img {
     width: 100%;
     height: 55rem;
     object-fit: cover;
     transition: "transform 0.5 ease-in";
     pointer-events: none;
}
 .header-title, .header-description {
     color: white;
     position: absolute;
     z-index: 3;
     left: 4%;
}
 .header-title {
     top: 22%;
     font-size: 3.7rem;
     font-family: "Poppins";
     font-weight: bolder;
}
 .header-description {
     top: 28%;
     font-size: 1.2rem;
     font-family: "Open sans";
}
 .table-row {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     background-color: #141416;
     width: 100%;
}
 .table-story, .table-leadership {
     position: relative;
     top: -2%;
     padding: 0 4.5rem;
     display: flex;
     z-index: 2;
     background-color: inherit;
}
 .story-title, .leadership-title {
     flex: 2.7;
     padding: 1.5rem;
     border: 0.1px solid #3F4349;
     color: white;
     height: 40rem;
     text-align: center;
     font-family: "Poppins";
     font-weight: bold;
     font-size: 2rem;
     transition: "background-position-x ease-in" 
}

.story-title p, .leadership-title p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.story-desc p,
.leadership-desc p {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%; 
    margin: 0;
}

 .story-desc, .leadership-desc {
     flex: 4;
     border: 0.1px solid #3F4349;
     color: #808080;
     height: 40rem;
     text-align: left;
     font-family: "Open Sans";
     font-size: 1rem;
     line-height: 1.8;
}

 .story-title {
     background-image: url("../img/vision-story-img.webp");
     background-size: repeat;
}
 .leadership-title {
     background-image: url("../img/vision-lead-img.webp");
     background-size: repeat;
}


 @media screen and (max-width: 1000px) {
     .header-img {
         height: 32rem;
    }
     .header-title, .header-description {
         left: 4%;
    }
     .header-title {
         top: 13.5rem;
         font-size: 3rem;
    }
     .header-description {
         top: 19rem;
         font-size: 0.9rem;
    }
     .table-row {
         flex-direction: column;
    }
     .table-story, .table-leadership {
         top: -2%;
         padding: 0 1rem;
    }
     .story-title, .leadership-title {
         width: 100%;
    }
     .story-title p, .leadership-title p {
         margin: 5%;
         margin-top: 1%;
    }
     .story-desc, .leadership-desc {
         width: 100%;
    }
     .story-desc br, .leadership-desc br {
         display: none;
    }
     .leadership-title br {
         display: none;
    }
     .story-desc p, .leadership-desc p {
        padding: 2rem;
         font-size: 1rem;
    }
     .leadership-desc {
         order: 2;
    }
     .leadership-title {
         order: 1;
    }
     .story-title, .leadership-title {
         background-position: center;
    }
}
